@import './resets.css';
@import './full-page.css';

:root {
  --bg-darkest: hsl(0, 0%, 0%);
  --bg-darker: hsl(0, 0%, 16%);
  --bg-lighter: darkgray;
  --bg-lightest: white;
  --bg-accent: orange;

  --text-light: white;
  --text-dark: black;

  font-family: Helvetica;

  user-select: none;
}

html {
  padding: 1rem;

  background-color: var(--bg-lightest);
}

body {
  aspect-ratio: 9 / 18;
  margin: 0 auto;

  border-radius: 2rem;
  box-shadow: 0 0 0.75rem 0.25rem var(--bg-darker);
  overflow: hidden;

  padding: 1.5rem 1rem;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  background-color: var(--bg-darkest);
  color: var(--text-light);
}

body > * {
  flex: 1;
}

#display {
  border-radius: 1rem;

  background-color: var(--bg-darker);
}

#keypad {
  --key-gap: 0.5rem;
  --row-key-ct: 4;
  --row-gap-ct: calc(var(--row-key-ct) - 1);

  /*  100% - (key-gap * row-gap-ct)
   *  effective-width-row / row-key-ct
   */
  --effective-width-row: calc(100% - calc(var(--key-gap) * var(--row-gap-ct)));
  --effective-width-key: calc(var(--effective-width-row) / var(--row-key-ct));

  display: flex;
  flex-wrap: wrap;
  gap: var(--key-gap);

  font-size: 1.75rem;
}

.key {
  cursor: pointer;

  aspect-ratio: 1/1;
  width: var(--effective-width-key);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--bg-darker);
}

.key:nth-last-child(3) {
  aspect-ratio: unset;
  width: calc(calc(var(--effective-width-key) * 2) + var(--key-gap));
  border-radius: var(--effective-width-key) / 50%;
  padding-right: calc(var(--effective-width-key) + var(--key-gap));
}

.key:nth-child(-n + 4) {
  background-color: var(--bg-lighter);
  color: var(--text-dark);
}

.key:nth-child(4n),
.key:nth-last-child(1) {
  background-color: var(--bg-accent);
  color: var(--text-light);
}

.key:hover {
  filter: brightness(120%);
  transition: 0.2s;
}

.key:active {
  filter: brightness(66%);
  transition: 0s;
}
